<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geiser Store | Adventure Product</title>
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>

    <!-- MenuBar -->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand me-5" href="/">Geiser</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-5">
                        <a class="nav-link ms-2" href="#">Backpacks</a>
                        <a class="nav-link ms-2" href="#">Travel</a>
                        <a class="nav-link ms-2" href="#">Lifestyle</a>
                        <a class="nav-link ms-2" href="#">Behind The Packs</a>
                        <a class="nav-link ms-2" href="#">Stories</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <form class="d-flex me-5 mt-1" role="search">
                            <input class="form-control me-2 pencarian" type="search" placeholder="Search Bar"
                            aria-label="Search">
                        </form>
                        <a class="nav-link btn btn-dark ms-4" href="/check-order">Check Order</a>
                    </div>
                </div>
            </div>
        </nav>
    <!-- /MenuBar -->

<section class="container mt-2 my-3 py-5">
    
    
    <% if (message) {%>
        <div class="alert alert-dismissible fade show alert-<%= message.type  %>" role="alert">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong><%= message.message %> </strong>
        </div> 
    <% } %> 
    <% if (cart === undefined || cart.length === 0) { %>
        <h1 class="text-center text-secondary mt-5">Cart Empty</h1>
        <% } else { %> 
            <div class="container mt-2">
                <h4>Your Cart</h4>
            </div>
            
            <table class="pt-5 table" style="width: 100%">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                     
                    <% cart.forEach(function(item) {%> 
                    <tr>
                        <td>
                            <div>
                                <p><img src="/<%= item.image %>" width="50" class="img-thumbnail">
                                <%= item.name %>
                                    <small><span>Rp.</span><%= item.price %></small>
                                    <br>
                                <form action="/cart/remove_product" method="post">
                                    <input type="hidden" name="id" value="<%= item.id %>">
                                    <input type="submit" name="remove_btn" class="btn btn-danger btn-sm" value="Remove">
                                </form>
                            </p>
                            </div>
                        </td>
                        <td>
                            <form action="/cart/edit-quantity" method="post">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <input type="submit" name="decrease_quantity" value="-">
                                <input type="number" name="quantity" value="<%= item.quantity %>" readonly>
                                <input type="submit" name="increase_quantity" value="+">
                            </form>
                        </td>
                        <td>
                            <span>Rp.<%= item.price * item.quantity %></span>
                        </td>
                    </tr>
                    <% }) %>
                </table>
                
                
                
                <div class="cart-total">
                    <table>
                        <tr>
                            <td>Total</td>
                            <td>Rp. <%= total %></td>
                        </tr>
                    </table>
                </div>
        
                <form action="/cart/checkout" method="post">
                    <input type="hidden" name="product_list" value="<% cart.forEach(item => { %><%= item.name %>  - Rp. <%= item.price  %> - <%= item.quantity %> ,<% }) %>">
                    <input type="hidden" name="total" value="<%= total %>">
                    <input type="submit" name="checkout" value="Checkout" class="btn btn-warning">
                </form>
        <% } %> 
</section>

<%- include('../layout/footer-client') %>