<%- include('../layout/header-client') %>

<div class="container">
    <div class="row my-5">
        <div class="col-4 foto-product">
            <img src="/<%= product.image %>" class="img-thumbnail" alt="AETHER™ PLUS 85">
        </div>
        <div class="col-8">
            <div class="jumbotron">
                <h1 class="fs-3 fw-bold text-light"><%= product.name  %> </h1>
                <p class="fs-4 fw-semibold">Rp. <%= product.price %></p>
                <p class="fs-6">
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-regular fa-star-half-stroke"></i>
                    <i class="fa fa-regular fa-star"></i>
                    <a href="#" class="fs-6 txt rev">1 Review (s)</a>
                </p>
                <p class="fs-6 txt"><%= product.description %></p>
                <div class="row">
                    <div class="col">
                        <p class="fs txt"><%= product.type_name  %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="fs-6 txt">Qty: <%= product.stock  %></p>
                    </div>
                </div>
                
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="id" value="<%= product._id %>">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <input type="hidden" name="type_name" value="<%= product.type_name %>">
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="image" value="<%= product.image %>">
                    <input type="submit" class="btn btn-danger" value="Add to cart">
                </form>

                <i class="fa-solid fa-heart ms-3"></i>
                <i class="fa-sharp fa-solid fa-chart-simple ms-3"></i>
            </div>
        </div>
    </div>
</div>

<%- include('../layout/footer-client') %>