<%- include('../../layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4" >
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Edit Product (<%= type.name  %> )</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/types/update/<%= type._id  %>" method="post" id="add-form">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" value="<%= type.name  %>" name="name" class="form-control form-control-lg" placeholder="Enter name" required />
                        </div>
                        <div class="mb-3">
                            <label for="category_name">Category</label>
                            <select class="form-select" name="category_name" disabled>
                                <option value="<%= type.category_name %>" selected><%= type.category_name  %></option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <a href="/types" value="Back" class="btn btn-primary btn-lg">Back</a>
                            <input type="submit" name="submit" value="Update Product" class="btn btn-success btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../layout/footer') %> 


    